.contacts {
  &__details {
    @include page-grid;
  }

  &__form {
    display: grid;
    justify-items: center;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
      justify-items: start;
    }

    @include on-desktop {
      grid-column: span 5;
      column-gap: 198px;
    }
  }

  &__button {
    margin-bottom: 48px;
    cursor: pointer;
    border-radius: 40px;
    height: 56px;
    width: 100%;
    border: none;
    background-color: $background-cl;

    font-weight: 700;
    line-height: 27px;
    text-align: center;

    &:hover {
      box-shadow: 1px 4px 16px 0 $box-shad-hv;
      border: 1px solid $border-hv;

      @include hover(transform, scale(1.05));
    }

    &:active {
      box-shadow: 1px 4px 16px 0 $box-shad-ac;
      border: 1px solid $border-ac;
    }

    @include on-tablet {
      margin: 0;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / 11;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
  }

  &__description {
    display: inline-block;
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    color: $background-cl;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    border-radius: 40px;
    height: 48px;
    width: 100%;
    padding: 14px 16px;
    box-sizing: border-box;
    background-color: #f8f8fa;
    margin-bottom: 16px;

    outline: none;
    border: none;
    color: $border-ac;

    &:hover {
      box-shadow: 1px 4px 16px 0 $box-shad-hv;
      border: 1px solid $border-hv;

      @include hover(transform, scale(1.05));
    }

    &:active {
      box-shadow: 1px 4px 16px 0 $box-shad-ac;
      border: 1px solid $border-ac;
    }

    @include on-tablet {
      max-width: 100%;
    }

    @include on-desktop {
      max-width: 411px;
    }

    &--message {
      margin-bottom: 32px;
      border-radius: 16px;
      height: 148px;
      resize: none;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $placeholder;
    }
  }
}
