.detail {
  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__photos {
    margin-bottom: 16px;

    @include page-grid;
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  &__explore {
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    background-color: $background-cl;

    width: 100%;
    max-width: 392px;
    height: 56px;
    border-radius: 40px;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 4px 16px 0 $box-shad-hv;
      border: 1px solid $border-hv;

      @include hover(transform, scale(1.05));
    }

    &:active {
      box-shadow: 1px 4px 16px 0 $box-shad-ac;
      border: 1px solid $border-ac;
    }

    @include on-desktop {
      max-width: 324px;
    }
  }
}
