$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$color: #1d1d1d;
$background-cl: #fff;
$background-input: #f8f8fa;
$border-hv: #d5d7de;
$border-ac: #292929;
$box-shad-hv: #e8e8f066;
$box-shad-ac: #e8e8f0a3;
$placeholder: #7e7e83;
$menu: #c2c2c2;
